EDA for stock market data analysis

In [3]:

import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime , timedelta

In [5]:
apple = pd.read_csv(r"C:\Users\hp\Downloads\week 1 data\Data-20240826T133225Z-001\Data\yfinance_data\yfinance_data\AAPL_historical_data.csv")
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [7]:

print("\nMissing Values:")
apple.isnull().sum()    #checking for missing value

Missing Values:

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [9]:
def validate_and_prepare_stock_data(apple):
    if 'date' in apple.columns:
        try:
            apple['date'] = pd.to_datetime(apple['date'], infer_datetime_format=True)
        except pd.errors.ParserError:
            print("Warning: Could not parse 'date' column to datetime format. Check format.")
        apple.set_index('date', inplace=True)

    required_columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    for column in required_columns:
        if column not in apple.columns:
            raise ValueError(f"Missing required column: {column}")

    print("\nBasic Statistics:")
    print(apple.describe())

    print("\nDataFrame Structure:")
    print(apple.info())

# calling the function
validate_and_prepare_stock_data(apple)

Basic Statistics:
               Open          High           Low         Close     Adj Close  \
count  10998.000000  10998.000000  10998.000000  10998.000000  10998.000000
mean      22.299160     22.539055     22.068367     22.312754     21.494496
std       46.003685     46.496031     45.540929     46.037660     45.561916
min        0.049665      0.049665      0.049107      0.049107      0.037857
25%        0.299107      0.303710      0.290179      0.298549      0.241840
50%        0.531250      0.537946      0.522321      0.531250      0.432079
75%       20.204196     20.389554     19.998036     20.196160     17.253029
max      236.479996    237.229996    233.089996    234.820007    234.548523

             Volume     Dividends  Stock Splits
count  1.099800e+04  10998.000000  10998.000000
mean   3.180806e+08      0.000752      0.001546
std    3.354523e+08      0.011753      0.083663
min    0.000000e+00      0.000000      0.000000
25%    1.132545e+08      0.000000      0.000000
50%    2.057412e+08      0.000000      0.000000
75%    3.985275e+08      0.000000      0.000000
max    7.421641e+09      0.250000      7.000000

DataFrame Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10998 entries, 0 to 10997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          10998 non-null  object
 1   Open          10998 non-null  float64
 2   High          10998 non-null  float64
 3   Low           10998 non-null  float64
 4   Close         10998 non-null  float64
 5   Adj Close     10998 non-null  float64
 6   Volume        10998 non-null  int64
 7   Dividends     10998 non-null  float64
 8   Stock Splits  10998 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 773.4+ KB
None

###### EDA FOR AMAZON STOCK MARKET DATA

In [11]:
amz = pd.read_csv(r"C:\Users\hp\Downloads\week 1 data\Data-20240826T133225Z-001\Data\yfinance_data\yfinance_data\AMZN_historical_data.csv")
print(amz.head())

print("\nMissing Values:")
amz.isnull().sum()    #checking for missing value

         Date      Open      High       Low     Close  Adj Close      Volume  \
0  1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
1  1997-05-16  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
2  1997-05-19  0.088021  0.088542  0.081250  0.085417   0.085417   122136000
3  1997-05-20  0.086458  0.087500  0.081771  0.081771   0.081771   109344000
4  1997-05-21  0.081771  0.082292  0.068750  0.071354   0.071354   377064000

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0

Missing Values:

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [13]:

# calling the function
validate_and_prepare_stock_data(amz)

Basic Statistics:
              Open         High          Low        Close    Adj Close  \
count  6846.000000  6846.000000  6846.000000  6846.000000  6846.000000
mean     37.360464    37.801009    36.882561    37.351096    37.351096
std      53.756955    54.366449    53.087051    53.729913    53.729913
min       0.070313     0.072396     0.065625     0.069792     0.069792
25%       2.070125     2.120625     2.040156     2.076750     2.076750
50%       8.574500     8.666750     8.466500     8.591500     8.591500
75%      50.453876    50.723249    50.059875    50.426500    50.426500
max     200.089996   201.199997   199.050003   200.000000   200.000000

             Volume  Dividends  Stock Splits
count  6.846000e+03     6846.0   6846.000000
mean   1.380713e+08        0.0      0.003944
std    1.382346e+08        0.0      0.246789
min    9.744000e+06        0.0      0.000000
25%    6.505442e+07        0.0      0.000000
50%    1.020650e+08        0.0      0.000000
75%    1.567560e+08        0.0      0.000000
max    2.086584e+09        0.0     20.000000

DataFrame Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6846 entries, 0 to 6845
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          6846 non-null   object
 1   Open          6846 non-null   float64
 2   High          6846 non-null   float64
 3   Low           6846 non-null   float64
 4   Close         6846 non-null   float64
 5   Adj Close     6846 non-null   float64
 6   Volume        6846 non-null   int64
 7   Dividends     6846 non-null   float64
 8   Stock Splits  6846 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 481.5+ KB
None

EDA FOR GOOGLE STOCK MARKET DATA

In [15]:
goog = pd.read_csv(r"C:\Users\hp\Downloads\week 1 data\Data-20240826T133225Z-001\Data\yfinance_data\yfinance_data\GOOG_historical_data.csv")
print(goog.head())

print("\nMissing Values:")
goog.isnull().sum()    #checking for missing value

         Date      Open      High       Low     Close  Adj Close     Volume  \
0  2004-08-19  2.490664  2.591785  2.390042  2.499133   2.496292  897427216
1  2004-08-20  2.515820  2.716817  2.503118  2.697639   2.694573  458857488
2  2004-08-23  2.758411  2.826406  2.716070  2.724787   2.721690  366857939
3  2004-08-24  2.770615  2.779581  2.579581  2.611960   2.608991  306396159
4  2004-08-25  2.614201  2.689918  2.587302  2.640104   2.637103  184645512

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0

Missing Values:

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [17]:

# calling the function
validate_and_prepare_stock_data(goog)

Basic Statistics:
              Open         High          Low        Close    Adj Close  \
count  5020.000000  5020.000000  5020.000000  5020.000000  5020.000000
mean     45.251315    45.728793    44.800587    45.274515    45.224493
std      43.338635    43.818298    42.918167    43.377299    43.332534
min       2.470490     2.534002     2.390042     2.490913     2.488082
25%      13.034705    13.145415    12.881592    13.032090    13.017277
50%      26.982210    27.194902    26.791387    27.005927    26.975230
75%      60.215126    60.758375    59.811811    60.280252    60.211734
max     191.750000   193.309998   190.619995   192.660004   192.660004

             Volume    Dividends  Stock Splits
count  5.020000e+03  5020.000000   5020.000000
mean   1.157539e+08     0.000040      0.004583
std    1.497936e+08     0.002823      0.284034
min    1.584340e+05     0.000000      0.000000
25%    2.733950e+07     0.000000      0.000000
50%    5.585480e+07     0.000000      0.000000
75%    1.425333e+08     0.000000      0.000000
max    1.650833e+09     0.200000     20.000000

DataFrame Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5020 non-null   object
 1   Open          5020 non-null   float64
 2   High          5020 non-null   float64
 3   Low           5020 non-null   float64
 4   Close         5020 non-null   float64
 5   Adj Close     5020 non-null   float64
 6   Volume        5020 non-null   int64
 7   Dividends     5020 non-null   float64
 8   Stock Splits  5020 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 353.1+ KB
None

EDA   FOR META STACK MARKET DATA